.dart_tool/
.packages
pubspec.lock

.flutter-plugins
.flutter-plugins-dependencies
.metadata

build/
.melos_tool/

.devenv/
.direnv/
devenv.local.nix

.DS_Store
.idea/
*.iml
*.log

graphify-out/

**/android/.gradle/
**/android/.cxx/
android/local.properties
**/android/local.properties

**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/macos/Pods/
**/macos/.symlinks/
**/macos/Flutter/ephemeral/

**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/
